@import 'tailwindcss';

@font-face {
    font-family: 'Mulish';
    src:
        url('../fonts/Mulish-Regular.woff2') format('woff2'),
        url('../fonts/Mulish-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

* {
    font-family: 'Mulish', sans-serif;
}

@theme inline {
    --font-mulish: 'Mulish', sans-serif;

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-tertiary: var(--tertiary);
    --color-quaternary: var(--quaternary);

    --color-hover: var(--hover);
    --color-click: var(--click);
    --color-icon: var(--icon);
    --color-outline: var(--outline);
    --color-divider: var(--divider);

    --background-color-light: var(--bg-light);
    --background-color-dark: var(--bg-dark);
    --background-color-disabled: var(--bg-disabled);

    --text-color-gray-primary: var(--text-primary);
    --text-color-gray-secondary: var(--text-secondary);
    --text-color-gray-tertiary: var(--text-tertiary);
    --text-color-disabled: var(--text-disabled);

    --breakpoint-mobile: var(--breakpoint-mobile);
    --breakpoint-tablet: var(--breakpoint-tablet);
    --breakpoint-desktop: var(--breakpoint-desktop);
    --breakpoint-tv: var(--breakpoint-tv);

    --shadow-sm: var(--shadow-sm);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-focus: var(--shadow-focus);
    --shadow-outline: var(--shadow-outline);
    --shadow-button-focus: var(--shadow-button-focus);

    --blur-default: var(--blur);

    --spacing-none: var(--spacing-none);
    --spacing-4xs: var(--spacing-4xs);
    --spacing-2xs: var(--spacing-2xs);
    --spacing-xs: var(--spacing-xs);
    --spacing-sm: var(--spacing-sm);
    --spacing-md: var(--spacing-md);
    --spacing-lg: var(--spacing-lg);
    --spacing-xl: var(--spacing-xl);
    --spacing-2xl: var(--spacing-2xl);
    --spacing-4xl: var(--spacing-4xl);
    --spacing-0: var(--spacing-none);
    --spacing-1: var(--spacing-4xs);
    --spacing-2: var(--spacing-2xs);
    --spacing-3: var(--spacing-xs);
    --spacing-4: var(--spacing-sm);
    --spacing-5: var(--spacing-md);
    --spacing-6: var(--spacing-lg);
    --spacing-7: var(--spacing-xl);
    --spacing-8: var(--spacing-2xl);
    --spacing-9: var(--spacing-4xl);

    --radius-none: var(--border-radius-none);
    --radius-sm: var(--border-radius-sm);
    --radius-md: var(--border-radius-md);
    --radius-lg: var(--border-radius-lg);

    --text-xs: var(--text-xs);
    --text-sm: var(--text-sm);
    --text-md: var(--text-md);
    --text-lg: var(--text-lg);
    --text-xl: var(--text-xl);
}

@layer base {
    :root {
        /* Colors */
        --primary: #2d5bff;
        --secondary: #6284fd;
        --tertiary: #96adff;
        --quaternary: #ecf0ff;

        --hover: #1b4af0;
        --click: #002ed0;
        --icon: #7c7b7b;
        --outline: #d7d7d7;
        --divider: #ededed;

        --bg-light: #ffffff;
        --bg-dark: #f8f8f8;
        --bg-disabled: #efefef;

        --text-primary: #181818;
        --text-secondary: #5c5c5c;
        --text-tertiary: #747474;
        --text-disabled: #8a8a8a;

        /* Breakpoints */
        --breakpoint-mobile: 640px;
        --breakpoint-tablet: 1024px;
        --breakpoint-desktop: 1440px;
        --breakpoint-tv: 1920px;

        /* Shadows */
        --shadow-sm: 0px 0px 10px 0px #84848426;
        --shadow-md: 0px 0px 20px 0px #84848433;
        --shadow-lg: 0px 0px 30px 0px #84848440;
        --shadow-focus: 0px 0px 0px 2px #643296;
        --shadow-outline: 0px 0px 0px 2px #e8e8e8;
        --shadow-button-focus: 0px 0px 0px 2px #af4bfe;

        /* Blur */
        --blur: blur(4px);

        /* Spacing */
        --spacing-none: 0px;
        --spacing-4xs: 8px;
        --spacing-2xs: 12px;
        --spacing-xs: 16px;
        --spacing-sm: 20px;
        --spacing-md: 24px;
        --spacing-lg: 32px;
        --spacing-xl: 40px;
        --spacing-2xl: 48px;
        --spacing-4xl: 56px;

        /* Border Radius */
        --border-radius-none: 0px;
        --border-radius-sm: 4px;
        --border-radius-md: 8px;
        --border-radius-lg: 16px;

        /* Font Size */
        --text-xs: 12px;
        --text-sm: 14px;
        --text-md: 16px;
        --text-lg: 18px;
        --text-xl: 20px;
    }

    .theme-violet {
        --primary: #af4bfe;
        --secondary: #be74f9;
        --tertiary: #e2bdff;
        --quaternary: #f5e8ff;
    }
}
